<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>{{ad.title}}</h3>
                <p class="text-danger">{{ad.badge}}</p>
            </div>
            <div class="panel-body text-center">
                <p>{{ad.description}}</p>
                {{#if ad.image_path}}
                    <img src="/public/img/uploads/{{ad.image_path}}" alt="" class="img-responsive">
                {{/if}}
                <p></p>
                <form action="/ads/details/{{ad._id}}/change-badge" method="post">
                    {{#if isVip}}
                        <button class="btn btn-default">Standard</button>
                    {{else}}
                        <button class="btn btn-default">VIP</button>

                    {{/if}}
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {{#if errors}}
                    <div class="alert alert-danger">
                        {{#each errors}}
                            <p>{{ message }}</p>
                        {{/each }}
                    </div>

                {{/if}}

                <h4>Leave a Comment:</h4>
                <form method="post" action="/ads/details/{{ad._id}}/comments/create">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>

        {{#each ad.comments}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media-body">
                        <h4 class="media-heading">User
                            <small>{{ date }}</small>
                        </h4>
                        {{ content }}
                    </div>

                </div>
            </div>
        {{/each}}
    </div>
</div>