<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3>{{todo.title}}</h3>
                <p class="text-danger">{{todo.state}}</p>
            </div>
            <div class="panel-body text-center">
                <p>{{todo.description}}</p>
                {{#if todo.image_path}}
                    <img src="/public/img/uploads/{{todo.image_path}}" alt="" class="img-responsive">
                {{/if}}
                <p></p>
                <form action="/todos/details/{{todo._id}}/change-state" method="post">
                    {{#if isDone}}
                        <button class="btn btn-default">Pending</button>
                    {{else}}
                        <button class="btn btn-default">Done</button>

                    {{/if}}
                </form>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {{#if errors}}
                    <div class="alert alert-danger">
                        {{#each errors}}
                            <p>{{ message }}</p>
                        {{/each }}
                    </div>

                {{/if}}

                <h4>Leave a Comment:</h4>
                <form method="post" action="/todos/details/{{todo._id}}/comments/create">
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>

        {{#each todo.comments}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media-body">
                        <h4 class="media-heading">User
                            <small>{{ date }}</small>
                        </h4>
                        {{ content }}
                    </div>

                </div>
            </div>
        {{/each}}
    </div>
</div>